/* Updated: 2025-12-15T05:46:41.316Z */
/* @import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;500;600;700&display=swap'); */
@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme {

  --color-accent: #092c68;
  --color-accent-light: #595a81;
  --color-accent-foreground: #15196b;
  --color-rich-green-accent: #4f868e;
  --color-rich-amber-accent: #ffb81d;
  --color-rich-beige-accent: #ebf3f3;
  --color-rich-purple: #221d35;

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
  }
  .animate-marquee {
  animation: marquee 28s linear infinite;
  }
/*
  The default border color has changed to currentColor in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }
}

@layer base {
  :root {
    --brand-color: #092c68
  }

  /* .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 767px) {
    .container {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .container {
      padding-left: 24px;
      padding-right: 24px;
    }
  } */
}